<main class="dashboard">
    <div class="top-section">
        <section class="delivery-status">
            <div class="title">Delivery Status</div>
            <div class="label">Total Orders</div>
            <div class="total-orders">150</div>
            <div class="charts">
                <div class="left-pie-chart">
                    <div class="chart"></div>
                    <caption class="chart-label">Orders Delivered</caption>
                </div>
                <div class="right-pie-chart">
                    <div class="chart"></div>
                    <caption class="chart-label">Pending Delivery</caption>
                </div>
            </div>
        </section>
        <section class="total-sales">
            <div class="title">Total Sales</div>
            <div class="currency">USD</div>
            <div class="total">14,543</div>
        </section>
    </div>
    
    <div class="bottom-section">
        <section class="order-history">
            <caption class="chart-label">Order History</caption>
            <div class="chart"></div>
        </section>
        <section class="report">
            <div class="title">Report</div>
            <div class="deliveries">
                <div class="on-time">
                    <div class="label">Ontime Delivery</div>
                    <div class="val">+29.7%</div>
                    <div class="progress-bar green"></div>
                </div>
                <div class="late-deliveries">
                    <div class="label">Late Deliveries</div>
                    <div class="val">54.4%</div>
                    <div class="progress-bar red"></div>
                </div>
            </div>
            <div class="performance">
                <div class="label">Performance</div>
                <div class="performance-percent">
                    +0.05%
                </div>
            </div>
        </section>
    </div>
</main>
